<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Returnless\ExtendRestApi\Api\GiftCardAccountInterface" type="Returnless\ExtendRestApi\Model\Api\GiftCardAccount"/>
    <preference for="Returnless\ExtendRestApi\Api\ResponseGiftCardAccountInterface" type="Returnless\ExtendRestApi\Model\Api\ResponseGiftCardAccount"/>
</config>
